@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth
}
body {
  background: #181818;
  color: #fff !important;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}